# Database Configuration
DB_HOST=your-production-db-host
DB_USER=your-production-db-user
DB_PASSWORD=your-production-db-password
DB_NAME=your-production-db-name
DB_PORT=3306
DB_SSL=true

# Resend API Key (for emails)
RESEND_API_KEY=re_your_api_key

# JWT Secret for Auth Token
JWT_SECRET=your_jwt_secret_key_change_me_in_production

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=deop9ytsv
CLOUDINARY_API_KEY=785157554952661
CLOUDINARY_API_SECRET=QH4AISBgOJb7IIa7ggeA95OCKsY
